@model Product
@{
    ViewData["Title"] = "EditForm";
}

<h1>@Model.name</h1>

<form action="/product/edit/" method="post">

    Name:<input type="text" name="name" value="@Model.name" /><br />

    Description: <input type="text" name="description" value="@Model.description" /><br />

    Price:<input type="text" name="price" value="@Model.price" /><br />

    Inventory:<input type="text" name="inventory" value="@Model.inventory" /><br />

    Category:<input type="text" name="category" value="@Model.category" /><br />

    <input type="hidden" name="id" value="@Model.id" />


    <input type="submit" />

</form>

